* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#header, #menu {
    padding: 20px;
    font-family: 'Gils Sans', 'Gils Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 24pt;
    font-weight: bolder;
    text-align: center;
}
#header{
    background-color: #fff2df;
    background-image: url('https://i.pinimg.com/564x/e0/79/8a/e0798a02ef252160199e523cc357d7fc.jpg');
    height: 100px;

}
#menu {
    background-color:  #0000FF;
    display: flex;
    justify-content: space-around;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: row; /*biar sidebar dan main ga sejajar*/
}
#sidebar {
    background-color: #000080;
    width: 200px;
    flex-shrink: 0; /*biar sidebar ga mengecil*/
}
#main {
    background-color: #fff2df;
    flex: 1;
    padding: 20px;
}
#footer{
    background-image: url('https://i.pinimg.com/564x/e0/79/8a/e0798a02ef252160199e523cc357d7fc.jpg');
    height: 70px;
    background-color:  #0000FF;
}